*{
    margin: 0;
    padding: 0;
}

.header{
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.header__top{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 23px;
    margin-bottom: 26px;    
}

.header__fon{
    background-image: url(images/фон.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 353px;
}

.header__nav{
    display: flex;
    flex-wrap: wrap;
    gap: 22px;
}

.header__links{
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
    gap: 22px;
}

.header__links:hover{
    color: rgb(44, 205, 44);
}

.header__big{
    color: rgba(0, 0, 0, 1);
    font-size: 36px;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: left;
    width: 200px;
    white-space: pre-line;
    padding-top: 89px;
    padding-left: 88px;
}

.header__text{
    padding-left: 88px;
    padding-top: 12px;
}

.header__btn{
    margin-left: 88px;
    margin-top: 12px;
    background: rgba(217, 217, 217, 1);  
    border: none;
    width: 150px;
    border-radius: 30px;
    height: 31px;
}

.header__btn:hover{
    background-color: rgb(122, 174, 122);
    color: white;
}

.header__special{
    color: rgba(0, 0, 0, 1);
    font-size: 28px;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 24px;
}

.homeplant{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 49px;
}

.plant__img{
    width: 217px;
    height: 246px;
    display: flex;
    flex-direction: column;
}

.plant__name{
    color: rgba(0, 0, 0, 1);
    font-size: 26px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0%;
    text-align: left;
    padding-top: 13px;
}

.plant__text{
    color: rgba(0, 0, 0, 1);
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: left;
    padding-top: 5px;
}